.signup-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #eef2f7;
  justify-content: center;
  align-items: center;
}

.signup-container {
  width: 65%;
  height: 65%;
  background-color: var(--main-bg-color);
  /* box-shadow: 4px 4px #eeeeee; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  max-width: 700px;
  padding: 2% 1%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-left: 8px solid var(--another-color);
  border-radius: 12px;
}

.signup-input-wrapper {
  display: flex;
  width: 100%;
}

.signup-input-wrapper label {
  width: 30%;
  text-align: right;
}

.signup-btn {
  padding: 1% 2%;
}

.signup-error-msg {
  color: red;
  display: block;
  width: 100%;
  margin-top: -2%;
  font-size: 16px;
}
