.signup-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--base);
  justify-content: center;
  align-items: center;
}

.signup-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  max-width: 700px;
  padding: 5% 2%;
}

.signup-container > h1 {
  margin: 1.5rem;
}

.signup-input-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 2% 0;
}

.signup-input-wrapper label {
  text-align: right;
}

.signup-error-msg {
  color: red;
  display: block;
  width: 100%;
  margin-top: -2%;
  font-size: 0.75rem;
}

.signup-input-wrapper > .input-text {
  width: 100%;
  padding: 3%;
  margin: 1% 0;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-background);
  color: #d0d0d0;
}
.signup-input-wrapper > .input-text:focus {
  border: 1.5px solid var(--link);
  outline: none;
}

.signup-btn {
  padding: 2% 5%;
  margin: 5% 0;
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
  color: 1px solid var(--button-primary);
}

.login-text-link {
  color: var(--link);
  padding-bottom: 1%;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .signup-container {
    width: 80%;
    background-color: var(--base);
    padding: 1.5rem 2rem 2rem;
    box-shadow: 0 23px 20px -24px hsl(219deg 37% 18% / 24%);
    border-radius: 0.75rem;
  }

  .signup-input-wrapper {
    font-size: 1.1rem;
  }

  .signup-input-wrapper > .input-text {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--input-border);
    border-radius: 4px;
  }

  .signup-input-wrapper > .input-text:focus {
    border: 1.5px solid var(--link);
    outline: 0;
  }

  .signup-btn {
    padding: 0.7rem 2rem;
  }

  .signup-error-msg {
    margin-top: -2%;
    margin-bottom: 2%;
    font-size: 1rem;
  }

  .signup-text {
    font-size: 1.1rem;
    margin-top: 0;
  }

  .login-text-link {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 900px) {
  .signup-container {
    width: 50%;
  }
}
