.landing-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.landing-page-container > h1 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 0 0 1.5rem;
}

.landing-page-container > p {
  text-align: center;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .landing-page-container > h1 {
    font-size: 3rem;
  }
}
