.chat-list-header {
  width: 100%;
  height: 8%;
  /* background-color: #333; */
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

.chat-list-header-avatar {
  background-color: #f53b63;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
