.chat-list-header {
  width: 100%;
  height: 8%;
  /* background-color: #333; */
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  position: sticky;
  top: 0;
  background-color: #202023;
}

.chat-list-header-avatar {
  background-color: #f53b63;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.chat-list-header-avatar img {
  width: 100%;
  border-radius: 50%;
}

.chat-list-header-name {
  font-size: 20px;
  margin-left: 2%;
}

.chat-list-header-back-btn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .chat-list-header-back-btn {
    display: block;
    padding: 4% 3% 2% 2%;
    font-size: 24px;
  }
}
