.chat-container {
  display: flex;
  width: 80vw;
  height: 80vh;
  max-width: 1200px;
  min-height: 600px;
}

.chat-list {
  width: 30%;
  min-width: 300px;
  background-color: #202023;
  border-right: 1px solid rgba(100, 100, 100, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.chat-details {
  width: 70%;
  min-width: 500px;
  height: 100%;
  background-color: #19191b;
}

.chat-initial-screen {
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15% 5%;
}

.chat-initial-image-wrapper {
  width: 100%;
}

.chat-initial-screen img {
  border: 15px solid #ffffff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.chat-initial-screen-text {
  font-size: 20px;
  padding: 8px 12px;
  border-bottom: 2px solid rgba(220, 220, 220, 0.5);
}

@media only screen and (max-width: 1200px) {
  .chat-container {
    width: 100vw;
    height: 100vh;
  }
}
