.chat-details-header-wrapper {
  width: calc(100% - 60px);
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding: 30px;
}

.chat-details-header-left {
  width: 70%;
  text-align: left;
}

.chat-details-header-name {
  font-size: 24px;
}

.chat-details-header-status {
  font-size: 18px;
  margin-top: 2%;
}

.chat-details-header-right {
  width: 30%;
}

.chat-details-header-image img {
  width: 110px;
  float: right;
}

@media only screen and (max-width: 600px) {
  .chat-details-header-wrapper {
    height: 30px;
    justify-content: flex-end;
    padding: 15px;
    text-align: right;
  }

  .chat-details-header-left {
    width: 70%;
    text-align: left;
  }

  .chat-details-header-name {
    font-size: 20px;
    text-align: right;
  }

  .chat-details-header-status {
    display: none;
  }

  .chat-details-header-right {
    display: none;
  }

  .chat-details-header-image img {
    display: none;
  }
}
