.chat-details-header-wrapper {
  width: calc(100% - 60px);
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding: 30px;
}

.chat-details-header-left {
  width: 70%;
  text-align: left;
}

.chat-details-header-name {
  font-size: 24px;
}

.chat-details-header-status {
  font-size: 18px;
  margin-top: 2%;
}

.chat-details-header-right {
  width: 30%;
}

.chat-details-header-image img {
  width: 110px;
  float: right;
}
